
.right-section-header{
    padding-top: 3rem;
}
.right-section-recommendation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-bottom: 1px solid rgb(230, 230, 230);
    
}
.right-section-recommendation-body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 10rem;
}

.right-recommendation-follow-btn{
    all: unset;
    background-color: #0A66C2;
    color: white;
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 5rem;
    text-align: center;
}
.right-section-recommendation-header{
    display: flex;
    gap:.5rem;
    align-items: center;
}
